<?xml version="1.0" encoding="utf-8"?>
<SiteSecurityConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Users>
    <User>
      <Role>Admin</Role>
      <Ask>true</Ask>
      <EmailAddress>colinlsmatthews@proton.me</EmailAddress>
      <DisplayName>Colin</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>true</NotifyOnNewPost>
      <NotifyOnAllComment>true</NotifyOnAllComment>
      <NotifyOnOwnComment>true</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>45-F4-11-C3-1D-56-FC-9C-E8-59-F3-15-DC-A1-66-47-49-A7-10-57-FB-7D-24-9A-57-E7-7C-20-B4-2B-F9-82-9C-1C-F6-5E-6B-10-CF-58-07-E0-3F-65-68-14-01-90-B3-12-B9-9F-22-A2-BE-8D-54-55-17-CF-E2-1C-F9-0E</Password>
    </User>
  </Users>
</SiteSecurityConfig>